<div id="home-head">
    <div
        id="home-background"
        ref="homeBackground"
        data-images="<%- theme.background.map(url_for) %>"
    ></div>
</div>

<div
    id="home-posts-wrap"
    ref="homePostsWrap"
    <%- theme.card.enable || 'class="home-posts-wrap-no-card"' %>
>
    <div id="home-posts">
        <%- partial("posts") %>
        <%- partial("current") %>
    </div>
    <% if (theme.card.enable) { %>
    <div id="home-card">
        <%- partial("card") %>
    </div>
    <% } %>
</div>
